<nav id="main" class="header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            HELA
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul style="margin-left:20px" class="nav navbar-nav">
            <li is-active-nav><a ui-sref="public.home" href="#">HOME</a></li>
            <li is-active-nav><a ui-sref="public.about" href="#">ABOUT</a></li>
        </ul>
        <ul style="margin-left:20px" class="nav navbar-nav navbar-right">
            <li is-active-nav><a ui-sref="login" href="#"><i class="fa fa-sign-in"></i>LOGIN</a></li>
        </ul>
    </div>
</nav>
