<div class="content padded" sen-table>
    <table class="table bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Last Logged In</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td ng-bind="user.first_name+ ' '+ user.last_name"></td>
            <td >
                <span ng-if="user.role" ng-bind="user.role"></span>
                <span ng-if="!user.role">
                    <i class="ion-android-alert"></i> No Role Assigned
                </span>
            </td>
            <td ng-bind="user.last_login"></td>
            <td>
                <button class="btn btn-primary" ng-click="view(user)">
                    <i class="ion-eye"></i> View Profile
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Last Logged In</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>
    <div class="form-group">
        <button ng-click="new()" class="btn btn-sm btn-success"><i class="ion-plus-round"></i>Add New User</button>
    </div>
</div>
