<nav id="account">
  <div class="navbar-header">
    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button> -->

  <div class="navbar-brand">
    <div class="row">
      <div class="col-xs-10">
        <a class="btn btn-dark menu-btn"><i class="ion-navicon"></i></a>
        HELA
      </div>

    </div>


  </div>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul style="margin-left:200px;text-align:center" class="nav navbar-nav">
    <li><a is-active-nav ui-sref="account.home" href="#"><i class="ion-home"></i></a></li>
    <li style="padding-top:15px">
      <span class="dropdown" dropdown>
        <a href="" class="dropdown-toggle" dropdown-toggle>
          <i class="ion-plus-round"></i>
        </a>
        <ul class="dropdown-menu" dropdown-menu>
          <li>
            <div class="row" style="width: 700px;">
              <ul class="nav col-md-4">
                <li class="expense">
                  <h5>Expense</h5>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#">One Time Expense</a>
                </li>
                <li>
                  <a href="#">Recurring Expense</a>
                </li>
                <li>
                  <a ui-sref="account.expenses.categories.new">New Category</a>
                </li>
              </ul>
              <ul class="nav col-md-4">
                <li class="income">
                  <h5>Income</h5>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One Time Income</a></li>
                <li><a href="#">Recurring Income</a></li>
              </ul>
              <ul class="nav col-md-4">
                <li class="accounts">
                  <h5>Bank Accounts</h5>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#">New Account</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right" role="user">
      <li>
        <a ui-sref="account.account">
          <div class="row" style="width:200px">
            <img ng-src="{{user.avatar}}" alt="" class="col-xs-1" style="border-radius:15px;padding:0">
            <div class="col-xs-11">
              <span class="user" ng-bind="user.first_name"></span> <span class="user" ng-bind="user.last_name"></span>
            </div>
          </div>

        </a></li>
        <li style="padding-top:15px">
          <span class="dropdown" dropdown>
            <a href="" class="dropdown-toggle" dropdown-toggle>
              <i class="ion-gear-a"></i>
            </a>
            <ul class="dropdown-menu" dropdown-menu style="left:-400px">
              <li>
                <div class="row" style="width: 400px;">
                  <ul class="nav col-md-6">
                    <li class="expense">
                      <h5>System Account</h5>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#">Profile</a>
                    </li>
                    <li>
                      <a href="#">Recurring Expense</a>
                    </li>
                  </ul>
                  <ul class="nav col-md-6">
                    <li class="income">
                      <h5>System Settings</h5>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Preferences</a></li>
                  </ul>

                </div>
              </li>

            </ul>
          </li>
        <li ng-controller="usersCtrl" ><a href="#" ng-click="logout()"><i class="ion-log-out"></i></a></li>
      </ul>
    </div>
  </nav>
