<img class="bg" class="img-responsive" src="assets/images/background-secondary.jpeg" alt="" />
<div class="row">
<div class="col-md-12">
  <a class="logo" href="" ui-sref="public">HELA</a>
</div>
</div>


<div class="content small" style="min-height:75%">
  <form class="row" style="opacity:0.95">
    <div class="row">
      <div class="form-group col-md-12" ui-view="alerts"></div>
      <div class="col-md-12">
        <h4 class=" title">Login as Existing User</h4>
      </div>
    </div>
    <div>
      <div class="inner">
      <div class="form-group col-md-12">
        <label for="">Email Address</label>
        <input required ng-model="user.email" type="email" class="form-control" placeholder="Geoffrey">
      </div>
      <div class="form-group col-md-12">
        <label for="">Password</label>
        <input required ng-model="user.password" type="password" class="form-control" placeholder="Cers3i">
      </div>

      <div class="btn-group col-md-12">
        <a ui-sref="account.home" type="submit" class="col-md-6 btn btn-primary" type="submit">Login</a>
        <button type="button" ui-sref="register" class="col-md-6 btn btn-success">Register</button>
      </div>
      </div>
        <a ui-sref="public" class="col-md-12 btn btn-danger"><i style="padding-right:10px" class="ion-earth"></i>Back to Website</a>
    </div>
</div>
</form>
</div>
