<form class="navbar-form navbar-left pull-right" ng-submit="login()">
    <div class="form-group">
        <input required="required" type="email" ng-model="user.email" class="form-control" placeholder="Email Address">
    </div>
    <div class="form-group">
        <input required="required" type="password" ng-model="user.password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary no-margin">Login</button>
    <button type="button" ui-sref="register" class="btn btn-success no-margin">Register</button>
</form>
