<a href="" ui-sref="public"><img src="images/kescrow.logo.png" class="img-responsive" style="width:100px;margin:20px;" alt=""></a>
<div class="content register">
    <form ng-submit="register()">
        <h4 class="title">Register New User</h4>
        <div class="inner">
        <div class="row">
          <div class="form-group col-md-12" ui-view="alerts"></div>
            <h5 class="subtitle col-md-12"><i class="ion-person"></i>User Information</h5>
            <div class="form-group col-md-6">
                <label for="">First Name</label>
                <input ng-model="user.first_name" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="">Last Name</label>
                <input ng-model="user.last_name" type="text" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label for="">Email Address</label>
                <input ng-model="user.email" type="email" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label for="">Mobile Number</label>
                <input ng-model="user.phone" type="text" class="form-control">
            </div>
            <h5 class="subtitle col-md-12"><i class="ion-key"></i>Account Information</h5>
            <div class="form-group col-md-12">
                <label for="">Username</label>
                <input ng-model="user.username" type="text" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label for="">Password</label>
                <input ng-model="user.password" type="password" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label for="">Confirm Password</label>
                <input ng-model="user.confirm_password" type="password" class="form-control">
            </div>
            <div class="col-md-12">
                <button type="submit" class="col-md-6 btn btn-success">Register</button>
                <button ui-sref="login" class="col-md-6 btn btn-primary">Login</button>
            </div>
</div>
        </div>
    </form>
</div>
<!--{{user}}
<div ui-view="footer"></div>-->
<div class="ng-scope" style="position:absolute;bottom:20;left:20;color:black;border-radius:100px;padding:10px;opacity:0.7;background:white">
  <p style="margin:0">
    Powered by <b>Senshi Group</b> © 2016
  </p>
</div>
