<a href="" ui-sref="public"><img src="images/kescrow.logo.png" class="img-responsive" style="width:100px;margin:20px;" alt=""></a>
<div class="content register">
    <form ng-submit="verify()">
        <h4 class="title">Verify User</h4>
        <div class="inner">
        <div class="row">
          <div class="form-group col-md-12" ui-view="alerts"></div>
            <div class="form-group col-md-4">
                <label for="">Email</label>
                <input ng-model="user.email" type="email" class="form-control" placeholder="Enter Email">
            </div>
            <div class="form-group col-md-4">
                <label for="">Code</label>
                <input ng-model="user.code" type="text" class="form-control" placeholder="Enter verification code">
            </div>

            <div class="col-md-4">
                <button type="submit" class="col-md-6 btn btn-success">Verify</button>
            </div>
</div>
        </div>
    </form>
</div>
<!--{{user}}
<div ui-view="footer"></div>-->
<div class="ng-scope" style="position:absolute;bottom:20;left:20;color:black;border-radius:100px;padding:10px;opacity:0.7;background:white">
  <p style="margin:0">
    Powered by <b>Senshi Group</b> © 2016
  </p>
</div>
