<div class="row">
  <div class="col-md-6">
      <form ng-submit="edit()" method="post" class="card">
        <h5>Details <div ng-if="currentQuestion.updatedAt" title="{{currentQuestion.updatedAt}}" class="time">Updated <span am-time-ago="currentQuestion.updatedAt"></span></div></h5>
        <div class="form-group">
          <label for="">Description</label>
          <input class="form-control" type="text" ng-model="currentQuestion.description">
        </div>
        <div class="form-group">
          <label for="">Option Type</label>
          <select class="" ng-options="option.id as option.name for option in options" ng-model="currentQuestion.option_type"></select>
        </div>
        <div class="form-group">
          <label for="">Options</label>
          <input class="form-control" type="text" ng-model="currentQuestion.options">
        </div>
        <div class="form-group">
          <label for="">Tags</label>
          <input class="form-control" type="text" ng-model="currentQuestion.tags">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
  </div>
  <div class="col-md-3">
    <a ui-view="questions-widget-single-responses">

    </a>
  </div>

  <div class="col-md-3">
    <a ui-view="questions-widget-single-recent">

    </a>
  </div>
</div>
