<div class="padded content">
  <div class="col-xs-4 col-xs-offset-4">
    <h4>Sign In</h4>
    <form class="" action="index.html" method="post">
      <label for="">Username</label>
      <input type="text" name="username" ng-model="user.username" value="">
      <label for="">Password</label>
      <input type="password" name="name" ng-model="user.password" value="">
      <button class="btn btn-primary" type="button" name="button" ng-click="login()">Sign In</button>
    </form>
  </div>
</div>
