<div class="padded inner">
  <form ng-submit="save(survey)" method="post">
    <h3 ng-bind="survey.description"></h3>
    <div class="row">
      <div class="form-group col-md-4 no-padding">
        <label for="">County</label>
        <select class="" ng-model="survey.county" name="">
          <option value="null">Please select a county</option>
          <option value="Nairobi">Nairobi</option>
        </select>
      </div>
    </div>
    <div class="survey">
      <div ng-repeat="section in survey.sections">
        <div class="section"   ng-if="section.questions.length>0">
          <h4 ng-bind="section.description" ></h4>
          <table class="table table-striped">
            <tr class="question" ng-repeat="question in section.questions">
              <td>
                <div class="form-group">
                  # {{$index+1}}. <label for="description" ng-bind="question.description"></label>
                </div>
              </td>
              <td style="width:30%">
                <div>
                    <div class="form-group">
                      <span ng-if="question.option_type=='Radio'" ng-repeat="option in question.options">{{ option }}
                        <input value="option"  type="radio" name="options_{{question.description}}" value="">
                      </span>

                      <span ng-if="question.option_type=='Checkbox'" ng-repeat="option in question.options">{{ option }}
                        <input value="option"  type="checkbox" name="options_{{question.description}}" value="">
                      </span>

                      <select ng-if="question.option_type=='Select One'" class="" name="">
                        <option ng-repeat="option in question.options" value="{{option}}">{{ option }}</option>
                      </select>

                      <select ng-if="question.option_type=='Select Many'" multiple class="" name="">
                        <option ng-repeat="option in question.options" value="{{option}}">{{ option }}</option>
                      </select>

                      <input ng-if="question.option_type=='Text Field'" type="text" name="options" value="">

                      <textarea ng-if="question.option_type=='Large Text Field'" name="name" rows="4" cols="40"></textarea>

                      <input ng-if="question.option_type=='DatePicker'" type="date" name="name" value="">
                    </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="footer">
      <button class="btn btn-warning" ng-click="view(survey)"><i class="ion-flash"></i>Rebuild Survey</button>
      <button class="btn btn-success" type="submit"><i class="ion-checkmark-round"></i>Save</button>
    </div>
  </form>
</div>
