// Admin Colors
// Grays

// Navigation
$carrara:#F2F1EF;
// Active Links and RED
$flamingo:#EF4836;
// Links and BLUE
$madison:#2C3E50;
// Success and GREEN
$ocean-green:#4DAF7C;

// Typography
// Header background
$silver:#BFBFBF;
$dark-gray:#333;
$light-gray:#ddd;

$picton-blue:#59ABE3;
$confetti:#E9D460;
